<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png" >
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This Site was created by Nish. It uses data from third party services to find current weather for a location.</p>
		<img class="portrait" src="/img/robot.png" ></img>
	</div>
	{{>footer}}
</body>
</html>